option_settings:
  - option_name: BUNDLE_DISABLE_SHARED_GEMS
    value: "1"
  - option_name: BUNDLE_PATH
    value: "vendor/bundle"
  - option_name: AVALON_SECRET_KEY_BASE
    value: "43e0b77690c9294e6d573986049a3d90b71fc8c39217fb41e8a97a9b9ad8f52e099a27bfaca4377e75d174ff7338570294360e86b641be95696c34aef63e8f00"

commands:
  install_cmake:
    command: yum -y install cmake
packages:
  yum:
    git: []
    cmake: []
