option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: avalonaws
    
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-5c1a5e38
    
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-f30d7897
    
  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: subnet-fd0d7899
    
  - namespace: aws:ec2:vpc
    option_name: DBSubnets
    value: subnet-f30d7897
    
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.micro
    
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: sg-c9442daf
